.rounded-full {
  border-radius: 9999px;
}

.bg-indigo-600 {
  background-color: #4c51bf;
}

.text-white {
  color: #ffffff;
}

.hover\:bg-indigo-500:hover {
  background-color: #434190;
}

.transition-opacity {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.visible {
  opacity: 1;
}

/* Button positioning for larger screens */
.back-to-top-btn {
  position: fixed;
  right: 1.5rem; /* Adjusted for better visibility */
  bottom: 1.5rem; /* Keep some distance from the bottom */
  z-index: 1000;
}

/* Media query for smaller screens like phones */
@media (max-width: 640px) {
  .back-to-top-btn {
    right: 1rem; /* Adjust to stay within viewport on smaller screens */
    bottom: 1rem; /* Same bottom spacing */
  }
}
